<header>
  <nav class="navbar fixsed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
      <a class="navbar-brand waves-effect" href="#">
        <strong class="blue-text"> NNN </strong>
      </a>

       

        <div id="navContent" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="/Home" routerLinkActive="active" href="#" class="nav-link waves-effect">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/AddNews" routerLinkActive="active" href="#" class="nav-link waves-effect">AddNews</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>